.dynamic_container {
    width:260px;
    height: 80px;
    border: 4px solid rgb(185, 221, 253);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: black;
    position: relative;
    border-radius: 15px;
    transition: 0.4s ease-in-out ;
    z-index: 12;
}
.controls {
    border: 2px solid rgb(185, 221, 253);
    background-color: white;
    width: 30%;
    position: relative;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 7.5px;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    padding: 2px 4px;
}
.dynamic_container:hover .controls {
    display: flex;
}
.controls span:hover {
    cursor: pointer;
}
.dynamic_container_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0px 10px;
}
.dynamic_container:hover .dynamic_container_content {
    height: 30%;
}
.dynamic_container_text h4 ,.dynamic_container_text p {
    margin: 0%;
    padding: 0%;
} 
.dynamic_container_text p {
    font-size: small;
}
.bordergreen {
    border-color: rgba(0, 128, 0, 0.335);
    background-color: rgba(0, 128, 0, 0.181);
}
.dynamic_container_content  button{
    cursor: pointer;
    width: fit-content ;
    padding: 5px 10px ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
    height: 30px;
    border:none ;
    border-radius: 8px;
    transition: 0.4s ease-in-out;
}
.dynamic_container_content  button span{
    padding: 1px 0px 0px 6px  ;
    display: none;
}
.dynamic_container_content  button i{
    margin: 0px ;
    padding: 0px ;
}
.dynamic_container_content button:hover .icon {
    display: flex;
}