.body {
    width: 80vw;
    height: 96vh;
    background-color: white;
    margin: 0%;
    padding: 0%;
    color: white;
    z-index: 2;
    position: relative;
}
.staticbody {
    z-index: 5;
    position: relative;
    width: 100%;
    height: 40vh;
    background-color: #9c099e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.staticbody_top_text small {
    margin: 5px 0px;
}

.staticbody h1 {
    margin: 0%;
}

.staticbody_top {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.staticbody_top button {
    width: 110px;
    height: 40px;
    border-radius: 8px;
    border: 0px solid black;
    font-size: 14px;
    color: #9c099e;
    font-weight: 600;
    cursor: pointer;
}
.dynamicbody {
    z-index: 2;
    position: relative;
    width: 100%;
    height: 46vh;
    overflow-y: scroll;
    padding: 30px ;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,260px));
    grid-template-rows: repeat(auto-fit,minmax(80px, 80px));
    gap: 30px ;
}