.parent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: fit-content;
}
.staticbody_bottom {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:30px;
}
.staticbody_bottom input {
    width: 75%;
    height: 40px;
    border-radius: 20px 0px 0px 20px;
    background-color: white;
    border: 0px solid black;
    color: black;
    padding-left: 15px;
    font-size: 15px;
}
.staticbody_bottom button {
    width: 5%;
    background-color: white;
    border: 0px solid black;
    height: 42px;
    border-radius: 0px 20px 20px 0px ;
}


.staticbody_search_result {
    position: absolute;
    top: 86px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.nestedstaticbody_result {
    background-color: blue;
    width: 80%;
    border-radius: 20px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}